# Data_Mining

---

Data is obtained from [UCI ML Repository - Gas Turbine CO and NOx Emission Data Set](https://archive.ics.uci.edu/dataset/551/gas+turbine+co+and+nox+emission+data+set) with .csv extension.\
\
Citation:\
Gas Turbine CO and NOx Emission Data Set. (2019). UCI Machine Learning Repository. \
https://doi.org/10.24432/C5WC95.

---

In [1]:
import pandas as pd

In [2]:
# reading all datasets
data_2011 = pd.read_csv('gt_2011.csv')
data_2012 = pd.read_csv('gt_2012.csv')
data_2013 = pd.read_csv('gt_2013.csv')
data_2014 = pd.read_csv('gt_2014.csv')
data_2015 = pd.read_csv('gt_2015.csv')

In [3]:
# all the datasets are converted into one big dataset
data = data_2011.append([data_2012, data_2013, data_2014, data_2015], ignore_index=True)

C:\Users\hasan\AppData\Local\Temp\ipykernel_7572\3298783855.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data_2011.append([data_2012, data_2013, data_2014, data_2015], ignore_index=True)

In [4]:
data

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747,82.028
...,...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,10.99300,89.172
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,11.14400,88.849
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,11.41400,96.147
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,3.31340,64.738
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,11.98100,109.240

In [5]:
# the merged dataset is stored in the below file
data.to_csv('CO_NOx_Emissions.csv', index=None)

---